body {
    background-color: #A4A4CF;
    font-family: 'Amiko', monospace;

    padding: 40px;
    width: 75%;
}

a {
    color: black;
}

h3 {
    font-size: 220%;
    color: #EEE;
}

#content {
    padding-left: 30px;
}

.description {
    margin: 5px;
    padding: 0px;
}

.contact-info > p {
    display: inline-block;
    padding: 0px;
    margin: 3px;
    font-size: 125%;
}

.section-title {
    font-size: 125%;
    font-weight: bold;
}
